@page "/demoHotel"
@using Model

<h3>We will display Hotel rooms and amenitites here!</h3>
<div class="border p-2 m-2" style="background-color:azure">
    <h2 class="text-info">Room List [Using Component]</h2>
    <div class="row container">
        @foreach (var room in Rooms)
        {
            <IndividualRoom Room="room"></IndividualRoom>
        }
    </div>
</div>

@code {

    List<BlazorRoom> Rooms = new List<BlazorRoom>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Rooms.Add(new BlazorRoom
        {
            Id = 201,
            RoomName = "Villa Suit One Bed Room",
            IsActive = true,
            Price = 399,
            RoomProps = new List<BlazorRoomProp>()
{
            new BlazorRoomProp {Id = 1, Name= "Sq Feet", Value="330"},
            new BlazorRoomProp {Id = 2, Name= "Occupancy", Value="4"},
        }
        });

        Rooms.Add(new BlazorRoom
        {
            Id = 301,
            RoomName = "Villa Suit Two Bed Room",
            IsActive = true,
            Price = 699,
            RoomProps = new List<BlazorRoomProp>()
{
            new BlazorRoomProp {Id = 1, Name= "Sq Feet", Value="150"},
            new BlazorRoomProp {Id = 2, Name= "Occupancy", Value="6"},
        }
        });
    }

}