@page "/"

<h2 class="bg-light border p-2">Frst Room</h2>
Room: @Room.RoomName
<br />
Price: @Room.Price
<br />


@code {

    Model.BlazorRoom Room = new Model.BlazorRoom
    {
        Id = 1,
        RoomName = "Villa Suit",
        IsActive = true,
        Price = 499,
    };

}